<div class="container marginLeft50Top30">


  <div class="col-md-4">
    <label for="hospital">Hospital: </label>
    <select class="custom-select d-block w-100" id="hospital" required [(ngModel)]="hospital" style="height: 35px">
      <option value="">Buscar...</option>
      <option *ngFor="let hospital of hospitals" [ngValue]="hospital">
        {{ hospital.name }}
      </option>
    </select>
    <div class="invalid-feedback">
      Por favor seleccioná una opción.
    </div>
  </div>

    <div class="col-md-4">
      <label for="prodType">Tipo Producto:</label>
        <select class="custom-select d-block w-100" id="prodType" required [(ngModel)]="prodType" style="height: 35px">
          <option disabled>Buscar...</option>
          <option *ngFor="let prodType of productsType" [ngValue]="prodType">
            {{ prodType }}
          </option>
        </select>
      <div class="invalid-feedback">
        Por favor seleccioná una opción.
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="nameProduct">Nombre: </label>
      <input class="form-control" id="nameProduct" [(ngModel)]="nameProduct">
    </div>
    <div class="form-group col-md-4">
      <label for="quantityProd">Cantidad:</label>
      <input type="number" class="form-control" id="quantityProd" [(ngModel)]="quantityProd">
    </div>

    <button class="btn btn-vs marginLeft10Top25" (click)="addProduct()">Agregar</button>



  <div class="yellowVS margin50" *ngIf="viewResult">

      <table class="table ">
        <thead>
        <tr >
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Cantidad</th>
        </tr>
        </thead>
        <tbody >

        <tr *ngFor="let hp of hospitalProducts">
          <td>{{hp.name}}</td>
          <td>{{hp.type}}</td>
          <td>{{hp.quantity}}</td>
        </tr>
        </tbody>
      </table>

  </div>
</div>
