<div class="container marginLeft50Top30">


  <div class="col-md-2">
    <label for="hospital">Hospital: </label>
    <select class="custom-select d-block w-100" id="hospital" required [(ngModel)]="hospital">
      <option value="">Buscar...</option>
      <option *ngFor="let hospital of hospitals" [ngValue]="hospital">
        {{ hospital.name }}
      </option>
    </select>
    <div class="invalid-feedback">
      Por favor seleccioná una opción.
    </div>
  </div>

    <div class="col-md-2">
      <label for="prodType">Tipo Producto:</label>
        <select class="custom-select d-block w-100" id="prodType" required [(ngModel)]="prodType">
          <option disabled>Buscar...</option>
          <option *ngFor="let prodType of productsType" [ngValue]="prodType">
            {{ prodType }}
          </option>
        </select>
    </div>

    <div class="form-group col-md-2">
      <label for="nameProduct">Nombre: </label>
      <input class="form-control" id="nameProduct" [(ngModel)]="nameProduct">
    </div>
    <div class="form-group col-md-2">
      <label for="quantityProd">Cantidad:</label>
      <input type="number" class="form-control" id="quantityProd" [(ngModel)]="quantityProd">
    </div>

    <button class="btn marginLeft10Top25 violetVS textVioletVS" (click)="addProduct()">Agregar</button>



  <div class="yellowVS marginLeft50Top30" *ngIf="viewResult">

    <div class="container text-left">
      <table class="table col-md-4 ">
        <thead>
        <tr >
          <th>Hospital</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Cantidad</th>
        </tr>
        </thead>
        <tbody >

        <tr *ngFor="let hp of hospitalProducts | paginate: { itemsPerPage: 10, currentPage: rc }; let i = index">
          <td>{{hp.name}}</td>
          <td>{{hp.type}}</td>
          <td>{{hp.quantity}}</td>
        </tr>
        </tbody>

      </table>

      <div *ngIf="firstEntry === false && hospitalProducts.length === 0" class="alert alert-light text-center" role="alert">
        <p>El hospital no tiene asignados productos.</p>
      </div>

    </div>

    <div *ngIf="hospitalProducts.length > 0" class="d-flex flex-row justify-content-center">
      <pagination-controls (pageChange)="rc = $event"></pagination-controls>
    </div>

  </div>
</div>
