
<div class="flex container marginLeft50Top30">

  <div class="drow">
    <div class="col-md-5 mb-3">
      <label>Elegí tu recorrido:</label>
      <form #f="ngForm">
        <select class="custom-select d-block w-100" name="round" required [(ngModel)]="round" (click)="showSelectedRound=true">
          <option value="" disabled>Buscar...</option>
          <option *ngFor="let round of rounds" [ngValue]="round">
            {{ round }}
          </option>
        </select>
      </form>
    </div>
  </div>

</div>

<div class="flex container marginLeft50Top30" *ngIf="showSelectedRound">
  <div class="d-flex">

    <div class="col-md-5 mb-3" >
      <label><h2>Tu Recorrido: {{round}}</h2></label>
    </div>
  </div>
</div>

<div class="flex container marginLeft50Top30" *ngIf="showSelectedRound">
  <label><h4>Agregar pedido: </h4></label>
  <button class="btn-add-vs" (click)="showAddClothes=true">+</button>
</div>

<div class="flex container marginLeft50Top30" *ngIf="showAddClothes">

  <div class="drow">
    <div class="col-md-5 mb-3">
      <label for="gender">Género</label>
      <select class="custom-select d-block w-100" id="gender" required [(ngModel)]="gender" (click)="selectClothesGender()">
        <option value="">Buscar...</option>
        <option *ngFor="let gender of genders" [ngValue]="gender">
          {{ gender }}
        </option>
      </select>
      <div class="invalid-feedback">
        Por favor seleccioná una opción.
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="clothe">¿Que ropa se necesita?</label>
      <select class="custom-select d-block w-100" id="clothe" required [(ngModel)]="nameClothes">
        <option value="">Buscar...</option>
        <option *ngFor="let clothe of clothes" [ngValue]="clothe">
          {{ clothe }}
        </option>
      </select>
      <div class="invalid-feedback">
        Por favor seleccioná una opción.
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="waist">¿Talle?</label>
      <select class="custom-select d-block w-100" id="waist" required [(ngModel)]="waist">
        <option value="">Buscar...</option>
        <option *ngFor="let waist of waists" [ngValue]="waist">
          {{ waist }}
        </option>
      </select>
      <div class="invalid-feedback">
        Por favor seleccioná una opción.
      </div>
    </div>


</div>


<div class="d-md-flex flex container marginLeft50Top30">

  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <table class="table">
      <thead>
      <tr >
        <th>Género</th>
        <th>Ropa</th>
        <th>Talle</th>
        <th>Cantidad</th>
      </tr>
      </thead>
      <tbody >
      <tr *ngFor="let clothe of clothes | paginate: { itemsPerPage: 2, currentPage: rc }; let i = index">
        <td>{{clothe.gender}}</td>
        <td>{{clothe.name}}</td>
        <td>{{clothe.waist}}</td>
        <td>{{clothe.quantity}}</td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="clothes.length === 0" class="alert alert-light text-center" role="alert">
      <p>No se cargó ningún pedido...</p>
    </div>

    <div *ngIf="clothes.length > 0" class="d-flex flex-row justify-content-center">
      <pagination-controls (pageChange)="rc = $event"></pagination-controls>
    </div>

  </div>
</div>
