<footer class="footer panel-footer panel-custom marginTop25">
      <div class=" flex container" style="text-align:center">
        <span>2018 VSApp by Maru Gil</span>

        <a href="https://www.facebook.com/VIDASOLIDARIAARGENTINA/">
          <img class="btn" src="../../../assets/img/facebook.png">
        </a>
        <a  href="https://www.instagram.com/vidasolidaria/">
          <img class="btn" src="../../../assets/img/instagram.png">
        </a>
        <a href="https://twitter.com/VidaSolidariaOK">
          <img class="btn" src="../../../assets/img/twitter.png">
        </a>
      </div>
</footer>
