<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
</head>

<nav class="flex navbar navbar-expand-sm violetVS navbar-custom a">

  <img width="100" class="btn" alt="Angular VS" src="../../../assets/img/LogoVS2017.png" [routerLink]="['home']">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['homeEcology']">Ecología</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['homeStreet']">Calle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['homeSede']">Sede</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['homeHospital']">Hospitales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Comedores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">DFM</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Admin Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['profile']">Mi Perfil
        <span class="glyphicon glyphicon-user"></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-vs" (click)="login()">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-vs" (click)="onLogout()">Logout</a>
    </li>
  </ul>

</nav>
