
<div class="flex-column container">
  <div class="card-body">
  <div class="d-flex flex-wrap-reverse">
    <div class="card text-center">

      <div class="card-body row ">

        <div class="col-md-3">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn" (click)="setWomanGender()" style="position: center">
            <img width="100" type="radio" class="btn" src="../../../assets/img/mujer.png">
          </label>
          <label class="btn marginLeft10" (click)="setManGender()" style="position: center">
            <img width="100" type="radio" class="btn" src="../../../assets/img/hombre.png">
          </label>
        </div>
        </div>

        <div class="col-md-3 row align-items-center">
          <h3 class="card-text textYellowVS marginTop10 col-6">CANTIDAD {{ quantity }}</h3>
          <a type="btn" class="btn btn-outline-success col-2" (click)="addQuantity()">
            <h3>+</h3></a>
          <a type="btn" class="btn btn-outline-danger col-2" (click)="subQuantity()">
            <h3>-</h3></a>
        </div>

        <div class="col-md-3 marginLeft10">
          <label class="textYellowVS"><h3>TALLE</h3></label>
          <input class="marginLeft10 textYellowVS" [(ngModel)]="size" style="width: 50px; height: 50px; font-size: x-large">
          <a type="btn" class="btn  btn-vs textYellowVS btn-add-vs float-right"
             style="color: #fffecc; font-size: xx-large" (click)="addClothing()">
            <span class="glyphicon glyphicon-ok"></span>
          </a>
        </div>


      </div>
    </div>
  </div>


  </div>
</div>
