<div class="flex-column container  align-content-center">
  <div class="card-body">
  <div class="d-flex flex-wrap-reverse">
    <div class="card text-center">

      <div class="card-body row align-items-center ">

        <div class="btn-group btn-group-toggle col-md-3 align-items-center" data-toggle="buttons">
          <label class="btn" (click)="setWomanGender()">
            <img width="100" type="radio" class="btn" src="../../../assets/img/mujer.png">
          </label>
          <label class="btn marginLeft10" (click)="setManGender()">
            <img width="100" type="radio" class="btn" src="../../../assets/img/hombre.png">
          </label>
        </div>

        <div class="col-md-2">

          <button class=" btn border border-info marginLeft10 yellowVS textYellowVS marginTop10 col-md-3 button_vs"
                  *ngFor="let size of sizes"
                  (click)="setSize(size)">
              <span>
                <div class="textButtonVs">
                  {{ size.size }}
                </div>
              </span>
          </button>



        </div>
         <div class="col-md-3">
          <h3 class="card-text textYellowVS marginTop10">Cantidad: {{ quantity }}</h3>

           <a type="btn btn-primary" class="btn btn-outline-success" (click)="addQuantity()"><h3>+</h3></a>
          <a type="btn btn-primary" class="btn btn-outline-danger" (click)="subQuantity()"><h3>-</h3></a>
        </div>

        <div class="col-md-3 marginTop10">
          <a type="btn" class="btn textYellowVS btn-add-vs " style="color: #fffecc;" (click)="addClothing()"><h3>+</h3></a>
        </div>

      </div>
    </div>
  </div>

</div>
</div>
