<div class="card-body">
<div class="flex-column container ">
  <div class="d-flex flex-wrap-reverse">
    <div class="card marginLeft50Top30 text-center"
         style="width: 18rem;">
      <div class="card-body">

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="mujer" autocomplete="off">Mujer
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="hombre" autocomplete="off">Hombre
          </label>
        </div>

        <select class="custom-select d-block w-100 marginTop10" id="sizes" required [(ngModel)]="sizes">
          <option value="">Buscar...</option>
          <option *ngFor="let size of sizes" [ngValue]="sizes">
            {{ size }}
          </option>
        </select>

        <p class="card-text textYellowVS marginTop10">Cantidad: {{ quantity }}</p>

        <a type="btn btn-primary" class="btn btn-outline-success" (click)="addQuantity()">+</a>
        <a type="btn btn-primary" class="btn btn-outline-danger" (click)="subQuantity()">-</a>
      </div>
    </div>
  </div>

</div>
</div>
