
<div class="textYellowVS">
  <label ><h3>Recorrido/base:  </h3></label>
  <label><h1>{{ round.code }} - {{ round.name }}</h1></label>
</div>

<div>
  <div id="flex-column container">


    <ul class="nav nav-tabs" id="myTab" role="tablist" style="border-color: #753D8B">
      <li class="nav-item">
        <a class="nav-link textYellowVS tab-vs" id="woman-tab" data-toggle="tab" href="#woman" (click)="setClothingWoman()"
           role="tab" aria-selected="false">
          <h3>Mujer</h3>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link textYellowVS tab-vs" id="man-tab" data-toggle="tab" href="#man" (click)="setClothingMan()"
           role="tab" aria-selected="false">
          <h3>Hombre</h3>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link textYellowVS tab-vs" id="boy-tab" data-toggle="tab" href="#boy"  (click)="setClothingBoy()"
           role="tab" aria-selected="false"><h3>Nene</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link textYellowVS tab-vs" id="girl-tab" data-toggle="tab" href="#girl" (click)="setClothingGirl()"
           role="tab" aria-selected="false"><h3>Nena</h3></a>
      </li>
    </ul>


    <div class="tab-content marginTop25" id="myTabContent">

      <div class="tab-pane" id="woman" role="tabpanel" aria-labelledby="woman-tab">
        <app-clothing #clothingCompw></app-clothing>
      </div>

      <div class="tab-pane" id="man" role="tabpanel" aria-labelledby="man-tab">
        <app-clothing #clothingCompm></app-clothing>
      </div>

      <div class="tab-pane" id="girl" role="tabpanel" aria-labelledby="girl-tab">
        <app-clothing #clothingCompg></app-clothing>
      </div>

      <div class="tab-pane" id="boy" role="tabpanel" aria-labelledby="boy-tab">
        <app-clothing #clothingCompb></app-clothing>
      </div>


    </div>

    </div>
</div>

<div class="flex-column container">

  <div class="input-group">


    <table class="table">
      <thead>
      <tr >
        <th>Descripción</th>
      </tr>
      </thead>
      <tbody >

      <tr *ngFor="let other of others">
        <td>{{other}}</td>
      </tr>
      </tbody>

    </table>


    <label class="textYellowVS">
      <h3>OTROS</h3>
    </label>
    <textarea class="form-control" [(ngModel)]="other"
              style="font-size: x-large"></textarea>

    <a type="btn" class="btn btn-vs marginTop10 btn-add-vs float-right"
       style="color: #fffecc; font-size: xx-large" (click)="addOther()">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>

  <a type="btn" class="btn btn-vs marginTop10 float-right"
     style="color: #fffecc;" [routerLink]="['CerrarPedido']">
    <h4>Revisar Pedido</h4>
  </a>

</div>
