
<div class="textYellowVS">
  <label ><h3>Recorrido/base:  </h3></label>
  <label><h1>{{ round.code }} - {{ round.name }}</h1></label>
</div>

<small>
  <div id="flex-column container">
    <div id="accordion">
      <div class="list-group" *ngFor="let clothe of clothes">
        <div class="card text-center">
          <div class="card-header violetVS">
            <a class="collapsed card-link text-First Foldcenter" data-toggle="collapse" href="#{{clothe}}">
              <h5 class="card-title textVioletVS "><h3>{{clothe}}</h3></h5>
            </a>
          </div>
          <div id="{{clothe}}" class="collapse" data-parent="#accordion">
            <div class="card-body text-left">
              <app-clothing></app-clothing>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</small>
