
<div class="flex-column container marginLeft50Top30">


  <div class="yellowVS marginLeft50Top30">
    <div class="container text-left">
      <table class="table col-md-4">
        <thead>
        <tr >
          <th>Nombre</th>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let round of rounds | paginate: { itemsPerPage: 4, currentPage: rc }; let i = index">
          <td>{{round.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <ul class="list-group margin-top-40">
      <li class="list-group-item btn text-left my-1" [routerLink]="['getRequests']">
        Ver pedidos
      </li>
    </ul>

    <div *ngIf="rounds.length > 0" class="d-flex flex-row justify-content-center">
      <pagination-controls (pageChange)="rc = $event"></pagination-controls>
    </div>

  </div>

  <!--

    <button class="btn marginLeft10Top25 violetVS textVioletVS" (click)="searchRequest()">Buscar</button>



    <div class="yellowVS marginLeft50Top30" *ngIf="viewResult">
      <div class="container text-left">
        <table class="table col-md-4">
          <thead>
          <tr >
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Tel. Contacto</th>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let receptionCenter of listRecepCenters | paginate: { itemsPerPage: 2, currentPage: rc }; let i = index">
            <td>{{receptionCenter.name}}</td>
            <td>{{receptionCenter.surname}}</td>
            <td>{{receptionCenter.phone}}</td>
          </tr>
          </tbody>
        </table>

        <div *ngIf="listRecepCenters.length === 0" class="alert alert-light text-center" role="alert">
          <p>No existen centros de recepción para la localidad que estás buscando</p>
        </div>

      </div>

      <div *ngIf="listRecepCenters.length > 0" class="d-flex flex-row justify-content-center">
        <pagination-controls (pageChange)="rc = $event"></pagination-controls>
      </div>

    </div>



  -->





</div>



