
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne"
          *ngFor="let round of rounds"
          (click)="addClothes(round)">
          {{ round.code }} - {{ round.name }}
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">

        <div class="flex-column container ">
          <div class="d-flex flex-wrap-reverse" *ngIf="viewClothing">
            <div class="card marginLeft50Top30 text-center"
                 style="width: 18rem;"
                 *ngFor="let clothing of clothes
             | paginate: { itemsPerPage: 4, currentPage: rc }; let i = index">
              <div class="card-body">

                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" autocomplete="off">Mujer
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off" checked> Hombre
                  </label>
                </div>

                <select class="custom-select d-block w-100 marginTop10" id="sizes" required [(ngModel)]="sizes">
                  <option value="">Buscar...</option>
                  <option *ngFor="let size of sizes" [ngValue]="sizes">
                    {{ size }}
                  </option>
                </select>

                <p class="card-text textYellowVS marginTop10">Cantidad: {{ clothing.quantity }}</p>

                <a type="btn btn-primary" class="btn btn-outline-success" (click)="addQuantity(c)">+</a>
                <a type="btn btn-primary" class="btn btn-outline-danger" (click)="subQuantity(c)">-</a>
              </div>
            </div>
          </div>

          <div class="d-flex flex-row marginTop25 justify-content-center">
            <div *ngIf="clothes.length > 0">
              <pagination-controls (pageChange)="rc = $event" class=" textYellowVS"></pagination-controls>
            </div>
          </div>

        </div>



      </div>
    </div>
  </div>
</div>



