
<div class="d-flex flex-lg-row margin50">
  <ul class="list-group">
    <li class="list-group-item btn text-left my-1" [routerLink]="['loadSupplies']">
      Cargar Insumos / Existencias
    </li>
    <li class="list-group-item btn text-left my-1" [routerLink]="['getSupplies']">
      Consultar Insumos / Existencias
    </li>
    <li class="list-group-item btn text-left my-1">
      Asignar Insumos / Existencias
    </li>
    <li class="list-group-item btn text-left my-1">
      Quitar Insumos / Existencias
    </li>
  </ul>

</div>
