<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container d-flex flex-column flex-lg-row">
  <form>
    <div class="form-group">
      <label>Usuario:</label>
      <input class="form-control" id="usuario" placeholder="Ingresar nombre">
    </div>
    <div class="form-group">
      <label>Nombre:</label>
      <input class="form-control" id="name" placeholder="Ingresar nombre">
    </div>
    <div class="form-group">
      <label >Apellido:</label>
      <input class="form-control" id="lastName" placeholder="Ingresar Apellido">
    </div>
    <div class="form-group">
      <label >Telefono:</label>
      <input class="form-control" id="telefono" placeholder="Ingresar Telefono">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Ingresar email">
    </div>

    <div class="form-group">
      <label >Localidad:</label>
      <input class="form-control" id="localidad" placeholder="Ingresar localidad">
    </div>

    <div class="drow">
      <label>Perfil</label>
      <form #f="ngForm">
        <select class="custom-select d-block w-100" name="round" required [(ngModel)]="perfil">
          <option value="" disabled>Buscar...</option>
          <option *ngFor="let perfil of perfiles" [ngValue]="perfil">
            {{ perfil }}
          </option>
        </select>
      </form>
    </div>

    <div class="drow">
      <label>Área</label>
      <form #f="ngForm">
        <select class="custom-select d-block w-100" name="round" required [(ngModel)]="area">
          <option value="" disabled>Buscar...</option>
          <option *ngFor="let area of areas" [ngValue]="area">
            {{ area }}
          </option>
        </select>
      </form>
    </div>

    <button class=" btn form-group" type="submit" >Guardar</button>

  </form>
</div>

</body>
</html>
