/* You can add global styles to this file, and also import other style files */
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

.margin50{
  margin: 50px;
}

.margin10{
  margin: 10px;
}

.home{
  height: 500px;
}

.marginLeft50Top30{
  margin-left: 50px;
  margin-top: 30px;
}

.marginTop25{
  margin-top: 25px;
}

.marginLeft150Top10{
  margin-left: 150px;
  margin-top: 10px;
}

.panel-footer.panel-custom {
  background: #ffb3ff;
  color: white;
}

.right200 {
  position: absolute;
  width: 230px;
  right: 0px;
}

.right100 {
  position: absolute;
  width: 100px;
  right: 0px;
}

