/* You can add global styles to this file, and also import other style files */
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

.margin50{
  margin: 50px;
}

.margin10{
  margin: 10px;
}

.home{
  height: 220px;
}

.marginLeft50Top30{
  margin-left: 50px;
  margin-top: 30px;
}

.marginTop25{
  margin-top: 25px;
}

.marginLeft10Top25{
  margin-left: 10px;
  margin-top: 25px;
}

.marginTop10{
  margin-top: 10px;
}

.marginLeft150Top10{
  margin-left: 150px;
  margin-top: 10px;
}

.panel-footer.panel-custom {
  background: #753D8B;
  color: white;
}

.right200 {
  position: absolute;
  width: 230px;
  right: 0px;
}

.right100 {
  position: absolute;
  width: 100px;
  right: 0px;
}


.btn-add-vs {
  width: 60px;
  height: 60px;
  padding: 10px 16px;
  border-radius: 55px;
  font-size: 60px;
  line-height: 1.33;
  background: #753D8B;
  color: white;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.violetVS {
  background-color: #753D8B !important;

}

.navbar-custom a {
  color: #f7e4ff;
}

.yellowVS {
  background-color: #fffecc;
}

.textYellowVS {
  color: #753D8B;
}

.textVioletVS {
  color: #fffecc;
}

.marginLeft10{
  margin-left: 10px;
}

.button_vs{
  height: 80px;
}

.textButtonVs{
  font-size: 17px;
}

button > span, p {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}
/*
.content {
  width:100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  padding: 1em;
  align-self: flex-end;
}


body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
*/
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.content {
  padding: 10px;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}


.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}











/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #753D8B;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #753D8B;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #753D8B;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
