<div class="d-md-flex  my-md-3 pl-md-3 margin50">

  <div class="drow">
      <label>Elegí el recorrido a consultar:</label>
      <form #f="ngForm">
        <select class="custom-select d-block w-100" name="round" required [(ngModel)]="round">
          <option value="" disabled>Buscar...</option>
          <option *ngFor="let round of rounds" [ngValue]="round">
            {{ round }}
          </option>
        </select>
      </form>
  </div>

  <div class="marginLeft50Top30">
    <button class="btn" type="submit" (click)=searchRequest()>Buscar</button>
  </div>

    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <table class="table">
        <thead>
        <tr >
          <th>Nombre</th>
          <th>Género</th>
          <th>Talle</th>
          <th>Cantidad</th>
        </tr>
        </thead>
        <tbody >

        <tr *ngFor="let c of clothes | paginate: { itemsPerPage: 5, currentPage: rc }; let i = index">
          <td>{{c.name}}</td>
          <td>{{c.gender}}</td>
          <td>{{c.waist}}</td>
          <td>{{c.quantity}}</td>
        </tr>
        </tbody>

      </table>

      <div *ngIf="clothes.length === 0" class="alert alert-light text-center" role="alert">
        <p>El pedido de este recorrido no se encuentra cargado</p>
      </div>

      <div *ngIf="clothes.length > 0" class="d-flex flex-row justify-content-center">
        <pagination-controls (pageChange)="rc = $event"></pagination-controls>
      </div>

    </div>
</div>
