<div class="container marginLeft50Top30">

  <div class="col-md-4">
    <label>Elegí el recorrido a consultar:</label>
    <select class="custom-select d-block w-100" id="round" required [(ngModel)]="weeklyRound">
      <option value="" disabled>Buscar...</option>
      <option *ngFor="let weeklyRound of rounds" [ngValue]="weeklyRound">
        {{ weeklyRound.round.code }} - {{weeklyRound.round.name}}
      </option>
    </select>
  </div>


  <button class="btn btn-vs marginLeft10Top25" (click)="searchRequest()">Buscar</button>


  <div class=" container yellowVS marginLeft50Top30" *ngIf="getRequest">

      <div class="text-left">
        <div class="form-group col-md-3">
          <label for="preparedBy">Preparado por: </label>
          <input class="form-control" id="preparedBy" disabled [(ngModel)]="preparedBy">
        </div>
        <div class="form-group col-md-3">
          <label for="reviewedBy">Revisado por:</label>
          <input class="form-control" id="reviewedBy" disabled [(ngModel)]="reviewedBy">
        </div>
      </div>

      <div class="text-left">
      <table class="table">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Género</th>
          <th>Talle</th>
          <th>Cantidad</th>
        </tr>
        </thead>
        <tbody >

        <tr *ngFor="let c of clothes">
          <td>{{c.name}}</td>
          <td>{{c.gender}}</td>
          <td>{{c.size}}</td>
          <td>{{c.quantity}}</td>
        </tr>
        </tbody>
      </table>


        <table class="table">
          <thead>
          <tr >
            <th>OTROS</th>
          </tr>
          </thead>
          <tbody >

          <tr *ngFor="let other of others">
            <td>{{other}}</td>
          </tr>
          </tbody>
      </table>

      <div *ngIf="(firstEntry === false && clothes.length === 0) || request === null" class="alert alert-light text-center" role="alert">
        <p>El pedido de este recorrido no se encuentra cargado</p>
      </div>

      </div>

    </div>
</div>
