
<div class="d-flex flex-column flex-lg-row justify-content-between margin50">
  <ul class="list-group margin-top-40">
    <li class="list-group-item btn text-left my-1" [routerLink]="['buscarCentro']">
      Consulta Centros
    </li>
    <li class="list-group-item btn text-left my-1" [routerLink]="['altaCentro']">
      Alta de Centros
    </li>
    <li class="list-group-item btn text-left my-1">
      Baja de Centros
    </li>
    <li class="list-group-item btn text-left my-1">
      Modificación de Centros
    </li>
  </ul>

</div>
